<ng-template [ngIf]="promo" [ngIfElse]="loading">
  <div class="promo-header">
    {{promo.nombre}}
  </div>
  <div class="promo-image">
    <img src="{{promo.imagen}}" />
  </div>
  <div class="promo-basic-info">
    <div class="promo-basic-info-element promo-dates ">Inicia: {{promo.fechaInicio}} - Finaliza: {{promo.fechaFin}}</div>
    <div class="promo-basic-info-element promo-city">Ciudad: 
      <span [ngSwitch]="promo.ciudad">
        <span *ngSwitchCase="1">Bogotá</span>
      </span>
    </div>
    <div class="promo-basic-info-element promo-price">{{promo.precio | currency}}</div>
  </div>
  <p-panel header="Descripción detallada">
    <p>{{promo.resumen}}</p>
    <p>{{promo.descripcion}}</p>
  </p-panel>
</ng-template>
<ng-template #loading>
    <div>Cargando...</div>
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>     
</ng-template>
<ng-template [ngIf]="comments" [ngIfElse]="loadingComments">
  <p-panel header="Comentarios">
    <div class="comentario" *ngFor="let comentario of comments">
      <p class="comentario-texto">{{ comentario.texto }}</p>
      <p class="comentario-correo">{{ comentario.correo }}</p>
    </div>
    <p *ngIf="comments?.length == 0">
      No hay comentarios para mostrar! :(
    </p>   
  </p-panel>
</ng-template>
<ng-template #loadingComments>
    <div>Cargando comentarios...</div>
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>     
</ng-template>