<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa-home" class="ui-button-info" 
        routerLink="promos"></button>
    </div>
    <div class="ui-toolbar-group-right">
        <div *ngIf="!isLoggedIn; else notLoggedIn">
            <button pButton type="button" icon="fa-check" label="Acceder" class="ui-button-success" 
                routerLink="sign-in"></button>
            <button pButton type="button" icon="fa-plus" label="Registro" 
                routerLink="sign-up"></button>
        </div>
        <ng-template #notLoggedIn>
            <p-splitButton label="{{ name }}" icon="fa-user" [model]="actions"></p-splitButton>
        </ng-template>
    </div>
</p-toolbar>