<ng-template [ngIf]="promos" [ngIfElse]="loading">
    <p-table [columns]="cols" [value]="promos" selectionMode="single" 
    (onRowSelect)="onRowSelect($event)" [paginator]="false">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
          www.promociones.com - Todos los derechos reservados - MISO 4101 - 2018-I
      </div>
  </ng-template>
</p-table>
 </ng-template>
 
 <ng-template #loading>
     <div>Loading...</div>
 </ng-template>


