<p-growl [(value)]="messages"></p-growl>
<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Acceder a la aplicación">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Correo electrónico *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="email" placeholder="ej. paolac"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['email'].errors['required']">Por favor escribe el correo electrónico del usuario</span>
                        <span *ngIf="userform.controls['email'].errors['email']">El correo electrónico del usuario debe cumplir con el formato ej. name@domain.com</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Contraseña *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" placeholder="ej. $ad0A2"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">Por favor escribela contraseña</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">La contraseña debe contener más de 8 cáracteres</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-6">
                    <button pButton type="submit" label="Acceder" [disabled]="!userform.valid || submitted"></button>
                </div>
                <div class="ui-grid-col-4"></div>
            </div>
        </div>
    </p-panel>
</form>