<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <p-panel header="Registrarse en la Aplicación">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Nombre *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="first_name" placeholder="Ej. Pedro"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['first_name'].valid&&userform.controls['first_name'].dirty">
                        <i class="fa fa-close"></i>
                        El nombre es requerido
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Apellido *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="last_name" placeholder="Ej. Fernández"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['last_name'].valid&&userform.controls['last_name'].dirty">
                        <i class="fa fa-close"></i>
                        El Apellido es requerido
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Pais *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="pais" placeholder="Ej. Ecuador"/>
              </div>
              <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['pais'].valid&&userform.controls['pais'].dirty">
                      <i class="fa fa-close"></i>
                      El Pais es requerido
                  </div>
              </div>
          </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Ciudad *:
              </div>
              <div class="ui-grid-col-6">
                  <p-dropdown [options]="ciudad" formControlName="ciudad" [autoWidth]="false"></p-dropdown>
              </div>
              <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['ciudad'].valid&&userform.controls['ciudad'].dirty">
                      <i class="fa fa-close"></i>
                      La Ciudad es requerida
                  </div>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Dirección *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="direccion" placeholder="Ej. Calle falsa 123"/>
              </div>
              <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['direccion'].valid&&userform.controls['direccion'].dirty">
                      <i class="fa fa-close"></i>
                      La dirección es requerida
                  </div>
              </div>
          </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Email *:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="email" placeholder="Ej. data@dominio.com"/>
              </div>
              <div class="ui-grid-col-4">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                      <i class="fa fa-close"></i>
                      Email is required
                  </div>
              </div>
          </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Password *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="password" formControlName="password" ng-model="password" placeholder="Ej. asd24$dasAa"/>
                </div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                        <i class="fa fa-close"></i>
                        <span *ngIf="userform.controls['password'].errors['required']">email is required</span>
                        <span *ngIf="userform.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-2"></div>
              <div class="ui-grid-col-6">
                  <button pButton type="submit" label="Registro" [disabled]="!userform.valid || submitted"></button>
              </div>
              <div class="ui-grid-col-4"></div>
          </div>
        </div>
    </p-panel>
</form>
